/* Header */
.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.div-header {
    display: flex;  
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav-menu {
    display: flex;
    gap: 40px;      
}

.navigation-header {
    display: flex;
    align-items: center;
} 

.address-unordered-list {
    display: flex;
    gap: 40px;
}

.header-address {
    font-style: normal;
}

.header-address-links {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-address-links:hover {
    color: #404bbf;
}

.header-address-links:focus {
    color: #404bbf;
}

.link-alignment {
    padding: 24px 0;   
}

.navigation-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.navigation-link:focus {
    color: #404bbf;
}

.navigation-link:hover {
    color: #404bbf;
}

.navigation-logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5; 
    margin-right: 76px;
}

.navigation-bar-span {
    color: #2e2f42;
}

/* First Section */
.section-order-button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4D5AE5;
    color: white;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;    
    cursor: pointer;
}

.section-order-button:hover {
    background-color: #404BBF;
}

.section-order-button:focus {
    background-color: #404BBF;
}

.first-section {
    background-color: #2e2f42;
    padding: 188px 0;
}

.first-section-headline {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
}

/* Second Section */
.second-section-headline {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.second-section-paragraph {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Third Section */
.third-section {
    background-color: #F4F4FD;
}

.third-section-headline {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.third-section-list-item {
    background-color: #FFFFFF;
}

.third-section-list-headline {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.third-section-list-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Forth Section */
.forth-section-headline {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.forth-section-list-headline {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.forth-section-list-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Footer */
.page-footer {
    background-color: #2e2f42;
}

.page-footer-logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.page-footer-logo-span {
    color: #f4f4fd;
}

.page-footer-paragraph {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

/* Tags */
body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

img {
    display: block;
}
